@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
*{
    background-color: rgb(214, 206, 248);//change later
}
.pixelify-sans-myFont {
    //background-color: red;//change 
    //-- fonts --//
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
    //--window size --//
    height:100vh;
    width:100%;
    overflow: hidden;
    //-- display --//
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
/*Screen content*/
.content-wrapper{
    background-color: transparent;
    //-- display --//
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    //-- windwo size --//
    height:95vh;
    width:95%;
    position: relative;
}
#start-screen{
    display:block;
}
#game-screen{
    display: none;
}
#credits-screen{
    display:none;
}
#gameover-screen{
    display:none;
}
#back-after-game-btn{
    display:none;
}
#settings-screen{
    display: none;
}
/*end of Screen content*/

.face-container{
    //background-color: red;
    background-image: url('https://placehold.co/600x400');
    background-size: contain;
    position: relative;//children (pimples container)
    overflow: hidden;
    width:400px;
    height:500px;
}
/* face and pimple content*/
.face{
    z-index: 0;
}
.pimples{
    z-index:1;
    position: absolute;//so we can use top and left
    background-color: pink;//change later
    transition: top 0.5s, left 0.5s;
}


