@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
*{
    background-color: rgb(214, 206, 248);//change later
}
.pixelify-sans-myFont {
    background-color: red;//change 
    //-- fonts --//
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
    //--window size --//
    height:100vh;
    width:100%;
    overflow: hidden;
    //-- display --//
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.content-wrapper{
    background-color: yellow;//change later
    //-- display --//
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    //-- windwo size --//
    height:95vh;
    width:95%;
}
.face{
    z-index: 0;
}
.pimples{
    z-index:1;
    background-color: pink;//change later
}